# Configuration pour l'installation des dépendances
legacy-peer-deps=true
strict-peer-dependencies=false
auto-install-peers=true

# Configuration pour la résolution des modules
node-linker=hoisted
shamefully-hoist=true

# Configuration pour le cache
cache=.npm-cache
prefer-offline=true

# Configuration pour les scripts
ignore-scripts=false 