.pageLayout {
  flex: 1;
  background: #181825;
}

.pageContent {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background: #232336cc;
  border-radius: 28px;
  border: 1.5px solid #F7931A;
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.18);
  margin: 24px;
} 